body {
  background: black;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background: lightcoral;
  color: white;
  padding: .5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.jimCooperPic {
  width: 300px;
}

table {
  background: lightblue;
  text-align: center;
  float: right;
  width: min-content;
}

tr {
  align-content: center;
}

td {
  padding: .5em
}

article {
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 35px;
}

footer {
  bottom: 0;
  height: 2.5em;
  left: 0;
  position: fixed;
  width: 100%;
  margin: .5em;
}

.youtube {
  height: -webkit-fill-available;
}

.facebook {
  height: -webkit-fill-available;
}

.twitter {
  height: -webkit-fill-available;
}

.educationInfo {
  font-size: 20px;
  text-align: left;
}

p {
  text-indent: 50px;
  padding: .1em;
}